services:
  novosga:
    image: novosga/novosga:2.2-standalone
    volumes:
      - /mnt/arquivos/docker/sga/images:/var/www/html/public/images
    restart: always
    depends_on:
      - mysqldb
      - mercure
    ports:
      - "80:8080"
    environment:
      APP_ENV: "prod"

      # DB (MySQL 8.0)
      DATABASE_URL: "mysql://novosga:MySQL_App_P4ssW0rd@mysqldb:3306/novosga2?charset=utf8mb4&serverVersion=8.0"

      # default admin user
      NOVOSGA_ADMIN_USERNAME: "admin"
      NOVOSGA_ADMIN_PASSWORD: "123456"
      NOVOSGA_ADMIN_FIRSTNAME: "Administrador"
      NOVOSGA_ADMIN_LASTNAME: "Global"

      # default unity
      NOVOSGA_UNITY_NAME: "Minha unidade"
      NOVOSGA_UNITY_CODE: "U01"

      # default no-priority
      NOVOSGA_NOPRIORITY_NAME: "Normal"
      NOVOSGA_NOPRIORITY_DESCRIPTION: "Atendimento normal"

      # default priority
      NOVOSGA_PRIORITY_NAME: "Prioridade"
      NOVOSGA_PRIORITY_DESCRIPTION: "Atendimento prioritário"

      # default place
      NOVOSGA_PLACE_NAME: "Guichê"

      # TimeZone and locale
      TZ: "America/Sao_Paulo"
      APP_LANGUAGE: "pt_BR"

      # Mercure (novo padrão)
      MERCURE_URL: "http://mercure:3000/.well-known/mercure"
      MERCURE_PUBLIC_URL: "http://127.0.0.1:3000/.well-known/mercure"
      MERCURE_JWT_SECRET: "!ChangeThisMercureHubJWTSecretKey!"

  mercure:
    image: novosga/mercure:v0.11
    restart: always
    ports:
      - "3000:3000"
    environment:
      SERVER_NAME: ":3000"
      MERCURE_PUBLISHER_JWT_KEY: "!ChangeThisMercureHubJWTSecretKey!"
      MERCURE_EXTRA_DIRECTIVES: "anonymous 1; cors_origins *"

  mysqldb:
    image: public.ecr.aws/docker/library/mysql:8.0
    volumes:
      - /mnt/arquivos/docker/mysql:/var/lib/mysql
    restart: always
    environment:
      MYSQL_USER: "novosga"
      MYSQL_DATABASE: "novosga2"
      MYSQL_ROOT_PASSWORD: "MySQL_r00t_P4ssW0rd"
      MYSQL_PASSWORD: "MySQL_App_P4ssW0rd"
      TZ: "America/Sao_Paulo"

  painel:
    image: novosga/panel-app:latest
    container_name: painel
    restart: always
    ports:
      - "8083:80"
    environment:
      - SGA_API_URL=http://novosga/api
    volumes:
      - painel-data:/app/data

  triagem:
    image: novosga/triage-app:latest
    container_name: triagem
    restart: always
    ports:
      - "8084:80"
    environment:
      - SGA_API_URL=http://novosga/api
    volumes:
      - triage-data:/app/data

volumes:
  painel-data:
  triage-data:
